Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Free Character 6/PNG/topRightLeg.png
Content/Free Character 6/PNG/topRightArm.png
Content/Free Character 6/PNG/topLeftLeg.png
Content/Free Character 6/PNG/topLeftArm.png
Content/Free Character 6/PNG/shose.png
Content/Free Character 6/PNG/shose (2).png
Content/Free Character 6/PNG/rightHand.png
Content/Free Character 6/PNG/nose.png
Content/Free Character 6/PNG/mouthSmiling.png
Content/Free Character 6/PNG/mouthOpened.png
Content/Free Character 6/PNG/mouth.png
Content/Free Character 6/PNG/LeftHand.png
Content/Free Character 6/PNG/hair.png
Content/Free Character 6/PNG/face.png
Content/Free Character 6/PNG/eyeOpened.png
Content/Free Character 6/PNG/eyeClosed.png
Content/Free Character 6/PNG/eyeBrow.png
Content/Free Character 6/PNG/eyeBrow (2).png
Content/Free Character 6/PNG/ear.png
Content/Free Character 6/PNG/downRightLeg.png
Content/Free Character 6/PNG/downRightArm.png
Content/Free Character 6/PNG/DownLeftLeg.png
Content/Free Character 6/PNG/downLeftArm.png
Content/Free Character 6/PNG/character.png
Content/Free Character 6/PNG/Butt.png
Content/Free Character 6/PNG/body.png
Content/Free Character 6/Instructions.txt
Content/Free Character 6/Animations/Armature_Slid_4.png
Content/Free Character 6/Animations/Armature_Slid_3.png
Content/Free Character 6/Animations/Armature_Slid_2.png
Content/Free Character 6/Animations/Armature_Slid_1.png
Content/Free Character 6/Animations/Armature_Slid_0.png
Content/Free Character 6/Animations/Armature_Run_3.png
Content/Free Character 6/Animations/Armature_Run_2.png
Content/Free Character 6/Animations/Armature_Run_1.png
Content/Free Character 6/Animations/Armature_Run_0.png
Content/Free Character 6/Animations/Armature_jump_6.png
Content/Free Character 6/Animations/Armature_jump_5.png
Content/Free Character 6/Animations/Armature_jump_4.png
Content/Free Character 6/Animations/Armature_jump_3.png
Content/Free Character 6/Animations/Armature_jump_2.png
Content/Free Character 6/Animations/Armature_jump_1.png
Content/Free Character 6/Animations/Armature_jump_0.png
Content/Free Character 6/Animations/Armature_Idle_4.png
Content/Free Character 6/Animations/Armature_Idle_3.png
Content/Free Character 6/Animations/Armature_Idle_2.png
Content/Free Character 6/Animations/Armature_Idle_1.png
Content/Free Character 6/Animations/Armature_Idle_0.png
Content/Free Character 6/Animations/Armature_Die_6.png
Content/Free Character 6/Animations/Armature_Die_5.png
Content/Free Character 6/Animations/Armature_Die_4.png
Content/Free Character 6/Animations/Armature_Die_3.png
Content/Free Character 6/Animations/Armature_Die_2.png
Content/Free Character 6/Animations/Armature_Die_1.png
Content/Free Character 6/Animations/Armature_Die_0.png
